<div class="modal modale-ticket fade" id="modal-coupon" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-ticket text-center">
                            <p><strong>GÉRARD DURAND</strong><br>
                            Carte N° 0000 0000 5487 3321</p>

                            <p><strong>BON DE REMISE 10%</strong><br>
                            Valable jusqu’au : 31/10/2017</p>

                            <p><img src="images/code-barre.png" alt=""></p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="modal-validation text-center">
                            <button type="button" class="btn btn-primary">Imprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->

        <button class="btn btn-default btn-close" data-dismiss="modal">Fermer</button>

    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->