<div class="modal modal-confirmation fade" id="modal-confirm-new-card" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="images/intersport-card.png" class="card-img" width="180" alt="">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-confirmation">
                            Attention !<br>
                            Vous allez créer une nouvelle carte pour M, Gérard DURAND. Si vous validez votre saisie, l’ancienne carte sera désactivée et ne pourra plus être utilisée.
                        </div>
                        <div class="modal-validation">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Retour</button>
                            <button type="submit" class="btn btn-primary">Céer carte</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->