<div class="modal modale-ticket fade" id="modal-saisie-ticket" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="text-ticket">
                            <p><strong>TICKET FIDELITE</strong><br>
                            Carte No°: 0000 0000 5552 4250<br>
                            Date 03/08/2017<br>
                            Montant total net payé par le client 300 €<br>
                            Montant services 0 €<br>
                            Montant location 0 €<br>
                            Votre ancien solde 126 points Vous avez acquis 10 points</p>

                            <p>Votre nouveau solde 136 points<br>
                            Vous avez acquis 10 points pour votre premier passage du jour<br>
                            300 points transformés en un bon de réduction de 10%</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="text-ticket">
                            <p><strong>COUPONS GÉNÉRÉS</strong><br>
                            *****************************<br>
                            BON FIDELITE 10% DE REMISE<br>
                            *****************************</p>

                            <p>Profitez d'un bon de réduction de 10%<br>
                            valable dans votre magasin INTERSPORT</p>

                            <p>Numero du bon 000 000 502 7309 <br> <img src="images/code-barre.png" alt=""></p>




                            <p>Votre carte 000 000 005 552 4250<br>
                            Date d'émission 03/08/2017<br>
                            Date de validité 31/10/2017</p>

                            <p>Ce bon est valable hors promotions hors soldes,<br>
                            hors achat de cartes cadeau<br>
                            Non cumulable<br>
                            Valable dans tous les magasins participant au programme</p>

                            <p>Votre magasin INTERSPORT vous remercie de votre fidélitéICKET</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="modal-validation text-center">
                            <button type="button" class="btn btn-primary">Imprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->

        <button class="btn btn-default btn-close" data-dismiss="modal">Fermer</button>

    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->