// HEADER
.header {}

.header-title {
  color: @base-color;
  font-size: 21px;
  line-height: @navbar-height;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;

  display: inline-block;
  //width: 58%;
  flex-grow: 1;
  margin: 0;
  }

.navbar-lang {
  float : right;
  padding : 15px 0 15px 15px;

  @media (max-width: @screen-xs-max) {
    padding : 14px;
    }
  }